.idea/
docs/PennyWise/bin/Debug/net8.0/appsettings.Development.json
docs/PennyWise/bin/Debug/net8.0/appsettings.json
docs/PennyWise/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
docs/PennyWise/bin/Debug/net8.0/Microsoft.OpenApi.dll
docs/PennyWise/bin/Debug/net8.0/PennyWise.Api.deps.json
docs/PennyWise/bin/Debug/net8.0/PennyWise.Api.dll
docs/PennyWise/bin/Debug/net8.0/PennyWise.Api.exe
docs/PennyWise/bin/Debug/net8.0/PennyWise.Api.pdb
docs/PennyWise/bin/Debug/net8.0/PennyWise.Api.runtimeconfig.json
docs/PennyWise/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
docs/PennyWise/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
docs/PennyWise/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
docs/PennyWise/obj/PennyWise.Api.csproj.nuget.dgspec.json
docs/PennyWise/obj/PennyWise.Api.csproj.nuget.g.props
docs/PennyWise/obj/PennyWise.Api.csproj.nuget.g.targets
docs/PennyWise/obj/project.assets.json
docs/PennyWise/obj/project.nuget.cache
docs/PennyWise/obj/project.packagespec.json
docs/PennyWise/obj/rider.project.model.nuget.info
docs/PennyWise/obj/rider.project.restore.info
docs/PennyWise/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
docs/PennyWise/obj/Debug/net8.0/apphost.exe
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.AssemblyInfo.cs
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.AssemblyInfoInputs.cache
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.assets.cache
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.csproj.AssemblyReference.cache
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.csproj.CopyComplete
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.csproj.CoreCompileInputs.cache
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.csproj.FileListAbsolute.txt
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.dll
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.GeneratedMSBuildEditorConfig.editorconfig
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.genruntimeconfig.cache
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.GlobalUsings.g.cs
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.MvcApplicationPartsAssemblyInfo.cache
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.MvcApplicationPartsAssemblyInfo.cs
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.pdb
docs/PennyWise/obj/Debug/net8.0/PennyWise.Api.sourcelink.json
docs/PennyWise/obj/Debug/net8.0/staticwebassets.build.json
docs/PennyWise/obj/Debug/net8.0/ref/PennyWise.Api.dll
docs/PennyWise/obj/Debug/net8.0/refint/PennyWise.Api.dll
docs/PennyWise/obj/Debug/net8.0/staticwebassets/msbuild.build.PennyWise.Api.props
docs/PennyWise/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.PennyWise.Api.props
docs/PennyWise/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.PennyWise.Api.props
src/Bootstrapper/PennyWise.Bootstrapper/obj/PennyWise.Bootstrapper.csproj.nuget.dgspec.json
src/Bootstrapper/PennyWise.Bootstrapper/obj/PennyWise.Bootstrapper.csproj.nuget.g.props
src/Bootstrapper/PennyWise.Bootstrapper/obj/PennyWise.Bootstrapper.csproj.nuget.g.targets
src/Bootstrapper/PennyWise.Bootstrapper/obj/project.assets.json
src/Bootstrapper/PennyWise.Bootstrapper/obj/project.nuget.cache
src/Bootstrapper/PennyWise.Bootstrapper/obj/project.packagespec.json
src/Bootstrapper/PennyWise.Bootstrapper/obj/rider.project.model.nuget.info
src/Bootstrapper/PennyWise.Bootstrapper/obj/rider.project.restore.info
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.AssemblyInfo.cs
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.AssemblyInfoInputs.cache
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.assets.cache
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.csproj.AssemblyReference.cache
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.GeneratedMSBuildEditorConfig.editorconfig
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.GlobalUsings.g.cs
src/Modules/Users/PennyWise.Modules.Users.Api/obj/PennyWise.Modules.Users.Api.csproj.nuget.dgspec.json
src/Modules/Users/PennyWise.Modules.Users.Api/obj/PennyWise.Modules.Users.Api.csproj.nuget.g.props
src/Modules/Users/PennyWise.Modules.Users.Api/obj/PennyWise.Modules.Users.Api.csproj.nuget.g.targets
src/Modules/Users/PennyWise.Modules.Users.Api/obj/project.assets.json
src/Modules/Users/PennyWise.Modules.Users.Api/obj/project.nuget.cache
src/Modules/Users/PennyWise.Modules.Users.Api/obj/project.packagespec.json
src/Modules/Users/PennyWise.Modules.Users.Api/obj/rider.project.model.nuget.info
src/Modules/Users/PennyWise.Modules.Users.Api/obj/rider.project.restore.info
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.AssemblyInfo.cs
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.AssemblyInfoInputs.cache
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.assets.cache
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.GeneratedMSBuildEditorConfig.editorconfig
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.GlobalUsings.g.cs
src/Modules/Users/PennyWise.Modules.Users.Core/obj/PennyWise.Modules.Users.Core.csproj.nuget.dgspec.json
src/Modules/Users/PennyWise.Modules.Users.Core/obj/PennyWise.Modules.Users.Core.csproj.nuget.g.props
src/Modules/Users/PennyWise.Modules.Users.Core/obj/PennyWise.Modules.Users.Core.csproj.nuget.g.targets
src/Modules/Users/PennyWise.Modules.Users.Core/obj/project.assets.json
src/Modules/Users/PennyWise.Modules.Users.Core/obj/project.nuget.cache
src/Modules/Users/PennyWise.Modules.Users.Core/obj/project.packagespec.json
src/Modules/Users/PennyWise.Modules.Users.Core/obj/rider.project.model.nuget.info
src/Modules/Users/PennyWise.Modules.Users.Core/obj/rider.project.restore.info
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.AssemblyInfo.cs
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.AssemblyInfoInputs.cache
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.assets.cache
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.csproj.AssemblyReference.cache
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.GeneratedMSBuildEditorConfig.editorconfig
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.GlobalUsings.g.cs
src/Shared/PennyWise.Shared.Abstractions/obj/PennyWise.Shared.Abstractions.csproj.nuget.dgspec.json
src/Shared/PennyWise.Shared.Abstractions/obj/PennyWise.Shared.Abstractions.csproj.nuget.g.props
src/Shared/PennyWise.Shared.Abstractions/obj/PennyWise.Shared.Abstractions.csproj.nuget.g.targets
src/Shared/PennyWise.Shared.Abstractions/obj/project.assets.json
src/Shared/PennyWise.Shared.Abstractions/obj/project.nuget.cache
src/Shared/PennyWise.Shared.Abstractions/obj/project.packagespec.json
src/Shared/PennyWise.Shared.Abstractions/obj/rider.project.model.nuget.info
src/Shared/PennyWise.Shared.Abstractions/obj/rider.project.restore.info
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.AssemblyInfo.cs
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.AssemblyInfoInputs.cache
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.assets.cache
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.GeneratedMSBuildEditorConfig.editorconfig
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.GlobalUsings.g.cs
src/Shared/PennyWise.Shared.Infrastructure/obj/PennyWise.Shared.Infrastructure.csproj.nuget.dgspec.json
src/Shared/PennyWise.Shared.Infrastructure/obj/PennyWise.Shared.Infrastructure.csproj.nuget.g.props
src/Shared/PennyWise.Shared.Infrastructure/obj/PennyWise.Shared.Infrastructure.csproj.nuget.g.targets
src/Shared/PennyWise.Shared.Infrastructure/obj/project.assets.json
src/Shared/PennyWise.Shared.Infrastructure/obj/project.nuget.cache
src/Shared/PennyWise.Shared.Infrastructure/obj/project.packagespec.json
src/Shared/PennyWise.Shared.Infrastructure/obj/rider.project.model.nuget.info
src/Shared/PennyWise.Shared.Infrastructure/obj/rider.project.restore.info
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.AssemblyInfo.cs
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.AssemblyInfoInputs.cache
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.assets.cache
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.GlobalUsings.g.cs
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/appsettings.Development.json
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/appsettings.json
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Azure.Core.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Azure.Identity.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Identity.Client.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.OpenApi.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Bootstrapper.deps.json
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Bootstrapper.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Bootstrapper.exe
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Bootstrapper.pdb
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Bootstrapper.runtimeconfig.json
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Modules.Users.Core.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Modules.Users.Core.pdb
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Shared.Infrastructure.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Shared.Infrastructure.pdb
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.ClientModel.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Drawing.Common.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Formats.Asn1.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.IO.Pipelines.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Memory.Data.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Runtime.Caching.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Security.Permissions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Text.Encodings.Web.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Text.Json.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.Windows.Extensions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/apphost.exe
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.csproj.CopyComplete
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.csproj.CoreCompileInputs.cache
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.csproj.FileListAbsolute.txt
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.dll
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.genruntimeconfig.cache
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.MvcApplicationPartsAssemblyInfo.cache
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.MvcApplicationPartsAssemblyInfo.cs
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.pdb
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/PennyWise.Bootstrapper.sourcelink.json
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/staticwebassets.build.json
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/ref/PennyWise.Bootstrapper.dll
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/refint/PennyWise.Bootstrapper.dll
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/staticwebassets/msbuild.build.PennyWise.Bootstrapper.props
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.PennyWise.Bootstrapper.props
src/Bootstrapper/PennyWise.Bootstrapper/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.PennyWise.Bootstrapper.props
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.Core.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Authorization.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Authorization.Policy.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Connections.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Hosting.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Http.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Extensions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Features.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Metadata.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.Core.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.OutputCaching.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Routing.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Routing.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.AspNetCore.WebUtilities.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Features.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.ObjectPool.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/Microsoft.Net.Http.Headers.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/PennyWise.Modules.Users.Api.deps.json
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/PennyWise.Modules.Users.Api.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/PennyWise.Modules.Users.Api.pdb
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/System.IO.Pipelines.dll
src/Modules/Users/PennyWise.Modules.Users.Api/Controllers/BaseController.cs
src/Modules/Users/PennyWise.Modules.Users.Api/Controllers/UsersController.cs
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.csproj.AssemblyReference.cache
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.csproj.CopyComplete
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.csproj.CoreCompileInputs.cache
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.csproj.FileListAbsolute.txt
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.dll
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.pdb
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/PennyWise.Modules.Users.Api.sourcelink.json
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/ref/PennyWise.Modules.Users.Api.dll
src/Modules/Users/PennyWise.Modules.Users.Api/obj/Debug/net8.0/refint/PennyWise.Modules.Users.Api.dll
src/Modules/Users/PennyWise.Modules.Users.Core/bin/Debug/net8.0/PennyWise.Modules.Users.Core.deps.json
src/Modules/Users/PennyWise.Modules.Users.Core/bin/Debug/net8.0/PennyWise.Modules.Users.Core.dll
src/Modules/Users/PennyWise.Modules.Users.Core/bin/Debug/net8.0/PennyWise.Modules.Users.Core.pdb
src/Modules/Users/PennyWise.Modules.Users.Core/bin/Debug/net8.0/PennyWise.Modules.Users.Core.runtimeconfig.json
src/Shared/PennyWise.Shared.Abstractions/bin/Debug/net8.0/PennyWise.Shared.Abstractions.deps.json
src/Shared/PennyWise.Shared.Abstractions/bin/Debug/net8.0/PennyWise.Shared.Abstractions.dll
src/Shared/PennyWise.Shared.Abstractions/bin/Debug/net8.0/PennyWise.Shared.Abstractions.pdb
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.csproj.CoreCompileInputs.cache
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.csproj.FileListAbsolute.txt
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.dll
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.pdb
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/PennyWise.Shared.Abstractions.sourcelink.json
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/ref/PennyWise.Shared.Abstractions.dll
src/Shared/PennyWise.Shared.Abstractions/obj/Debug/net8.0/refint/PennyWise.Shared.Abstractions.dll
src/Shared/PennyWise.Shared.Infrastructure/bin/Debug/net8.0/PennyWise.Shared.Infrastructure.deps.json
src/Shared/PennyWise.Shared.Infrastructure/bin/Debug/net8.0/PennyWise.Shared.Infrastructure.dll
src/Shared/PennyWise.Shared.Infrastructure/bin/Debug/net8.0/PennyWise.Shared.Infrastructure.pdb
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.csproj.AssemblyReference.cache
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.csproj.CoreCompileInputs.cache
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.csproj.FileListAbsolute.txt
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.dll
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.pdb
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/PennyWise.Shared.Infrastructure.sourcelink.json
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/ref/PennyWise.Shared.Infrastructure.dll
src/Shared/PennyWise.Shared.Infrastructure/obj/Debug/net8.0/refint/PennyWise.Shared.Infrastructure.dll
src/Modules/Users/PennyWise.Modules.Users.Core/obj/PennyWise.Modules.Users.Core.csproj.EntityFrameworkCore.targets
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.csproj.CoreCompileInputs.cache
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.csproj.FileListAbsolute.txt
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.dll
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.genruntimeconfig.cache
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.pdb
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/PennyWise.Modules.Users.Core.sourcelink.json
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/ref/PennyWise.Modules.Users.Core.dll
src/Modules/Users/PennyWise.Modules.Users.Core/obj/Debug/net8.0/refint/PennyWise.Modules.Users.Core.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/CorshamScience.MessageDispatch.Core.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/CorshamScience.MessageDispatch.ProtobufSnapshotting.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/EventStore.ClientAPI.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/Newtonsoft.Json.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Shared.Abstractions.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/PennyWise.Shared.Abstractions.pdb
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/protobuf-net.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.ServiceModel.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/System.ServiceModel.Primitives.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/unix/lib/netstandard2.0/System.Private.ServiceModel.dll
src/Bootstrapper/PennyWise.Bootstrapper/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Private.ServiceModel.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/PennyWise.Modules.Users.Core.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/PennyWise.Modules.Users.Core.pdb
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/PennyWise.Shared.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Api/bin/Debug/net8.0/PennyWise.Shared.Abstractions.pdb
src/Modules/Users/PennyWise.Modules.Users.Core/bin/Debug/net8.0/PennyWise.Shared.Abstractions.dll
src/Modules/Users/PennyWise.Modules.Users.Core/bin/Debug/net8.0/PennyWise.Shared.Abstractions.pdb
